{% extends 'base.html' %}

{% load static %}

{% block content %}
    <section class="container-fluid pl-0 pr-0">
        <div class="container pb-5 pt-5">
            <div class="row category-list">
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 border pl-0 pr-0">
                    <div class="p-2 text-center">
                        <div class="border bgSecondary shadow-lg" style="padding: 5px 0px 1px 0px;">
                            <h5 class="font-weight-bold">Products</h5>
                        </div>
                    </div>

                    {% for par in subcategory %}
                        <a class='text-dark' href="{% url 'myprint:parent_product' par.id %}">
                            <div class="pt-3 pb-1 pl-3 borderDashedBottom">
                                <h6>
                                    <img 
                                        src="{{ par.image.url }}" 
                                        width="20" 
                                        alt="category-title-icon"
                                        class="mr-1"
                                    >
                                    {{ par.name }}
                                </h6>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            
                        {% for pro in products %}
                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-4 p-2">
                                    <div class="card p-3 bg-transparent">
                                        <a href="id{{ pro.id }}" data-toggle="modal" data-target="#id{{ pro.id }}">
                                            <img src="{{ pro.image.url }}" width="100%" height="220" alt="">
                                            <h6 class="font-weight-normal small text-dark text-left p-2 borderDashedBottom"
                                                style="height: 45px; overflow: hidden;">{{ pro.name }}</h6>
                                            <h6 class="colorBlack small pl-1">Артикул : {{ pro.vendor_code }}</h6>
                                        </a>
                                        <button 
                                            class="btn btn-sm pl-4 pr-4 bgOrange" type="button"
                                            class="btn btn-secondary"
                                            data-toggle="modal" data-target="#orderModal">Заказать
                                        </button>
                                    </div>
                                    
                            </div>
                            <div class="modal fade" id="id{{ pro.id }}" tabindex="-1" role="dialog"
                                 aria-labelledby="example#{{ pro.id }}"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title pl-3" id="id{{ pro.id }}">Календарь</h5>
                                            <button type="button" class="btn btn-outline-danger btn-sm mt-1 mr-3"
                                                    data-dismiss="modal">Закрыть
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-3">
                                                        <img src="{{ pro.image.url }}" width="100%"
                                                             alt="">
                                                    </div>
                                                    <table>
                                                        <thead>
                                                        <tr>
                                                            <th>Nomi</th>
                                                            <th>Masulot turi</th>
                                                            <th>Sotuvchi kodi</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>
                                                                {{ pro.name }}
                                                            </td>
                                                            <td>
                                                                {{ pro.category }}
                                                            </td>
                                                            <td>
                                                                {{ pro.vendor_code }}
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- Scrollable modal -->
                                                    <div class="modal-dialog modal-dialog-scrollable">
                                                        {{ pro.description }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="orderModal" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered " role="document">
                                    <div class="modal-content pl-3 pr-3">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel"></h5>
                                            <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">
                                                Yopish
                                            </button>
                                        </div>
                                        <div class="modal-body pt-2 pb-5 text-center">
                                            <h6>Bizning menejerimiz imkon qadar tezroq siz bilan bog'lanadi!</h6>
                                            <form action="" method="POST">
                                                {% csrf_token %}
                                                {{ form.name }}
                                                {{ form.vendor_code }}
                                                {{ form.phone }}
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-success btn-sm">So'rov qoldiring</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}