{% extends 'base.html' %}

{% load static %}
{% block content %}
  <section class="console-container" style="background-image: url(); background-size: cover;">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-right">
              <h1 class="text-white font-weight-bold text-left text_h1">Широкоформатная печать.</h1>
            </div>
        </div>
    </div>
</section>

    <section class="container-fluid">
        <div class="container pt-5">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <h5 class="font-weight-normal text-justify"><span class="h5 colorRed font-weight-bold">Широкоформатная печать</span> — Эта технология пользуется широкой популярностью при изготовлении различных видов рекламы – как наружной, так и интерьерной. Такая печать совмещает в себе множество вариантов оформления и материалов изготовления, что делает ее наиболее доступной и востребованной для производства рекламы, привлекающей внимание потенциальных клиентов. Ее можно использовать для рекламы на баннерах, афишах, в офисах, на выставках и ТРЦ.</h5>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <img src="{% static 'img/bg/largeFormatPrint.png'%}" width="100%" alt="">
                </div> 

                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 p-3"><img src="{% static 'img/bg/large-format-1.png'%}" width="100%" height="250" alt=""></div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 p-3"><img src="{% static 'img/bg/large-format-2.jpg'%}" width="100%" height="250" alt=""></div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 p-3"><img src="{% static 'img/bg/large-format-3.jpg'%}" width="100%" height="250" alt=""></div>
            </div>
        </div>
      </section>

    <section class="container-fluid mt-5">
        <div class="container">
            <div class="row pl-3 pr-3 text-right">
                <table class="p-5">
                    <thead>
                      <tr>
                        <th scope="col">Наименования</th>
                        <th scope="col">Ед.изм</th>
                        <th scope="col">Печать цена</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td scope="row" data-label="Наименования">Баннер</td>
                        <td data-label="Ед.изм">m <sup>2</sup></td>
                        <td data-label="Печать цена">25 000</td>
                      </tr>
                      <tr>
                        <td scope="row" data-label="Наименования">Оракал</td>
                        <td data-label="Ед.изм">m <sup>2</sup></td>
                        <td data-label="Печать цена">35 000</td>
                      </tr>
                      <tr>
                        <td scope="row" data-label="Наименования">Матовый оракал</td>
                        <td data-label="Ед.изм">m <sup>2</sup></td>
                        <td data-label="Печать цена">55 000</td>
                      </tr>
                      <tr>
                        <td scope="row" data-label="Наименования">Cеточный оракал</td>
                        <td data-label="Ед.изм">m <sup>2</sup></td>
                        <td data-label="Печать цена">55 000</td>
                      </tr>
                    
                    </tbody>
                  </table>
                  <form action="#" method="post">
                    {% csrf_token  %}
                    {{ form.as_p }}
                    <button type="submit">ЖДУ ЗВОНОК!</button>
                  </form>	
            </div>

        </div>
    </section>


{% endblock content %}
	