{% extends 'base.html' %}
{% load static %}



{% block content %}
    
    {% for ser in service %}
        {#        {% if servicecategory_id == ser.id  %}#}
        <section class="container-fluid">
            <div class="container pt-5 pb-5">
                <div class="row">
                    <div class="col-12">
                        <h6 class="font-weight-normal text-justify">{{ ser.description }}</h6>
                    </div>
                    {% if ser.image1 and ser.image2 and ser.image3 %}
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 p-2">
                            <div class="text-right"
                                 style="background-image: url({{ ser.image1.url }}); background-size: cover; height: 200px;">
                                <div class="p-3" style="background-color: rgba(0,0,0,0.5); height:100%;">
                                    <h4 class="pb-5 pt-2 text-white text-left">Chop etish dizayni</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 p-2">
                            <div class="text-right"
                                 style="background-image: url({{ ser.image2.url }}); background-size: cover; height: 200px;">
                                <div class="p-3" style="background-color: rgba(0,0,0,0.5); height:100%;">
                                    <h4 class="pb-5 pt-2 text-white text-left">Tashqi reklama</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 p-2">
                            <div class="text-right"
                                 style="background-image: url({{ ser.image3.url }}); background-size: cover; height: 200px;">
                                <div class="p-3" style="background-color: rgba(0,0,0,0.5); height:100%;">
                                    <h4 class="pb-5 pt-2 text-white text-left">Brendlash</h4>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="container">
                    <div class="row m-auto pt-3 pb-5">
                        {% if ser.one_site_print and ser.type_paper and ser.double_site_print and ser.size %}
                            <table>
                                <thead>
                                <tr>
                                    <th scope="col">Qog'oz o'lchami</th>
                                    <th scope="col">Qog'oz turi</th>
                                    <th scope="col">Bir tomonlama bosib chiqarish(4+0)</th>
                                    <th scope="col">Ikki tomonlama chop etish (4+4)</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td scope="row" data-label="Размер бумага">{{ ser.size }}</td>
                                    <td data-label="Тип бумага">{{ ser.type_paper }}</td>
                                    <td data-label="Односторонняя печать (4+0)">{{ ser.one_site_print }}</td>
                                    <td data-label="Двухсторонняя печать (4+4)">{{ ser.double_site_print }}</td>
                                </tr>
                                </tbody>
                            </table>
                        {% endif %}
                        <table class="p-5">
                            <thead>
                            <tr>
                                <th scope="col">Nomi</th>
                                <th scope="col">Razmer</th>
                                <th scope="col">Chop etish narxi</th>
                            </tr>
                            </thead>
                            <tbody>
{#                            <tr>#}
{#                                <td>{{ ser }}</td>#}
{#                                <td>{{ ser.size }}<sup>2</sup></td>#}
{#                                <td>{{ ser.one_site_print }}</td>#}
{#                            </tr>#}
                            </tbody>
                        </table>
                        <div class="col-12 pt-3 pb-5 text-right">
                            <button type="button" class="btn btn-success pl-5 pr-5" data-toggle="modal"
                                    data-target="#orderModal">Bosib chiqarishga buyurtma bering
                            </button>
                        </div>
                    </div>
                    <div class="modal fade" id="orderModal" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered " role="document">
                            <div class="modal-content pl-3 pr-3">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">
                                        Закрыть
                                    </button>
                                </div>
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <div class="modal-body pt-2 pb-5 text-center">
                                        <h6>Menejerimiz imkon qadar tezroq siz bilan bog'lanadi!</h6>
                                        <h6>Iltimos xizmat turini tanlang!</h6>
                                        {{form}}
                                        <button type="submit" class="mt-3 btn btn-success btn-sm">So'rov qoldiring
                                        </button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><h1
                            class="font-weight-bold h2 text-center pt-5 pb-3">Bizning ishlarimiz.</h1></div>
                    {% for img in image %}
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
                            <div class="border p-2"><img src="{{ img.image.url }}" width="100%" height="200"
                                                         alt=""></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% empty %}
        {% if ser.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="mb-5 p-4 rounded-xl bg-red-300 text-white">
                        <p>{{ error | escape }}</p>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        {#        {% endif %}#}

    {% endfor %}
{% endblock %}