{% extends 'base.html' %}
{% load static %}

{% block content %}
<form method="POST">
    {% csrf_token %}


    <table class="table form-table table-bordered table-sm">
        <thead class="text-center">
            <tr>
                <th class="font-weight-bold">ID-№ <span>H_001 </span> <br> № Заказа <span> _ 1 _</span></th>
                <th class="font-weight-bold">Имя <br> ЗАКАЗЧИКА</th>
                <th class="font-weight-bold">Номер <br> ТЕЛЕФОНА</th>
                <th class="font-weight-bold">ОТВЕТСВЕННЫЙ <br> Менеджер</th>
                <th class="font-weight-bold">ДАТА ПРИЕМА ЗАКАЗА</th>
                <th class="font-weight-bold">ДАТА ОТГРУЗКИ ЗАКАЗА</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input name="id_name_order" type="text" class="form-control" placeholder="ID-№" aria-label="ID-№">
                </td>
                <td>
                    <input name="client" type="text" class="form-control" placeholder="ID-№" aria-label="ID-№">
                </td>
                <td>
                    <input name="client_phone_number" type="text" class="form-control" placeholder="ID-№"
                        aria-label="ID-№">
                </td>
                <td>
                    <input name="manager_name" type="text" class="form-control" placeholder="ID-№" aria-label="ID-№">
                </td>
                <td>
                    <input name="date_order" type="date" class="form-control" placeholder="ID-№" aria-label="ID-№">
                </td>
                <td>
                    <input name="ready_product_date_order" type="date" class="form-control"
                        placeholder="ДАТА ОТГРУЗКИ ЗАКАЗА" aria-label="ДАТА ОТГРУЗКИ ЗАКАЗА">
                </td>
            </tr>

        </tbody>
    </table>
    <table class="table form-table table-bordered table-sm">
        <thead class="text-center">
            <tr>
                <th class="font-weight-bold" style="width: 23%">Nomi</th>
                <th class="font-weight-bold" style="width: 23%" >Soni</th>
                <th class="font-weight-bold" style="width: 23%" >Narxi</th>
                <th class="font-weight-bold" style="width: 23%" >Foizi</th>
            </tr>
        </thead>
        <tbody>
            {{ formset.management_form }}
            {% for form_data in formset %}
                <tr class="item">
                    <td> {{ form_data.name }}   </td>
                    <td> {{ form_data.amount }} </td>
                    <td> {{ form_data.price }}  </td>
                    <td> {{ form_data.VAT }}    </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm remove-form-row"
                                id="{{ formset.prefix }}">

                            Delete
                        </button>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="9"
                    style="border-left: none!important; border-right: none !important; border-bottom: none!important;">
                    <button type="button" class="btn btn-sm btn-success add-form-row"
                            id="{{ formset.prefix }}">
                        Add
                    </button>
                </td>
            </tr>
            </tbody>
    </table>
    {{ formset.management_form }}

    <button 
        type="submit" 
            style="

                width: 200px; 
                height: 50px; 
                background: green; 
                color: white; 
                border: none;
                border-radius: 8px;
                margin-left: 80%;  
                margin-bottom: 20px;

            ">Submit</button>
</form>
{% endblock %}
{% block extra_script %}
<script type="text/javascript" src="{% static 'js/formset.js' %}"></script>
{% endblock%}